{
  "extends": ["eslint:recommended", "google"],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "console": true,
    "module": true,
    "require": true
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"]
  }
}
