# Folder view configuration files
.DS_Store

# Thumbnail cache files
Thumbs.db

# dotenv environment variable files
.env
.env.*
!.env.example

# Local files
.local/

# IntelliJ IDEA
.idea/

# VS Code
.vscode/

# Cursor
.cursor/
